<ul class='description-list'>
  <li class='description-item'><span>Capital:</span> {{capital}},</li>
  <li class='description-item'><span>Population:</span> {{population}},</li>
  <li class='description-item'><span>Languages:</span>
    {{#each languages}}{{this}}, {{/each}}</li>
</ul>