<ul class='description-list'>
  <li class='description-item' name='capital'><span>Capital:</span> {{capital}},</li>
  <li class='description-item' name='population'><span>Population:</span> {{population}},</li>
  <li class='description-item' name='languages'><span>Languages:</span>
    {{#each languages}}{{this}}, {{/each}}</li>
</ul>